<h2>Recherche</h2>
<form action="" class="form search-city">
    <div class="field">
        <label class="label">Ville ou code postal</label>
        <div class="control">
          <input class="input myQuery" type="text" placeholder="">
        </div>
      </div>
      <div class="field">
          <button class="button">Recherche</button>
      </div>
</form> 
<div class="notification is-danger hidden">
    <button class="delete"></button>
    Aucune commune ne répond au critère saisi.
  </div>